{% extends 'index.html' %}

<!-- Child CSS theme -->
{% load static %}
{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'css/sets.css' %}">
{% endblock %}

{% block extra_js %} 
    <script src="{% static 'js/sets.js' %}"></script>
{% endblock %}

{% block main_content %}

    <h1>Sets</h1>

    {% if sets %}
        Count: {{ sets|length }}
        <div class="row">
            <!-- Search UI -->
            <form class="form-inline ml-auto mb-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <!-- Add, Edit, BulkEdit icon-->
        <div class="row">
            <!-- Button Groups -->
            <div class="btn-group col-md-4 ml-auto pr-0 pl-0">
                <!-- Add Button 2 Options: 1.  2. Quick Add -->
                <div class="btn-group"> 
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Add"><i class="fa fa-plus"></i></button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-item">Slow Add</li>
                        <li class="dropdown-item">Quick Add</li>
                    </ul>
                </div>
                
                <!-- Edit Button -->
                <button class="btn btn-primary" title="Edit"><i class="fa fa-pencil"></i></button>

                <!-- Favorite Button -->
                <button class="btn btn-primary" title="Bookmarks"><i class="fa fa-star"></i></button>

                
            </div>
        </div>

        <!-- List of Sets -->
        <div class="row">
            <!-- Iterate through sets -->
            {% for set in sets %}
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card text-white border-info bg-dark mb-3">
                    <div class="card-header border-info">{{ set.category }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ set.title }}</h5>
                        <p class="card-text">{{ set.description }}</p>
                    </div>
                    <form method="post" action="{% url 'set-delete' set.id %}" >
                        {% csrf_token %}
                        <button class="btn-danger" type="submit" onclick="return deleteConfirmPopUp();">Delete</button>
                    </form>
                    <form action="{% url 'set-detail' set.id %}">
                        <button class="btn-primary" type="submit">Detail</button>
                    </form>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <p>Oopsy! You have no sets!</p>
    {% endif %}

{% endblock %}