{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Home CSS -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
    <title>Cardalog</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="{% url 'cardalog-home' %}">Cardalog</a>

        <!-- Hamburger Menu (Responsive) -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Links/Buttons to be collapsed (Responsive) -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'cardalog-home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'set-list' %}">Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
            </ul>
            
            <!-- Profile / LogOut / SignUp/ Login Button based on user auth state -->
            <div class='make-relative'>
                {% if user.is_authenticated %}
                    <img id="home-profile-img" src="{{ user.profile.image.url }}" alt='Home Profile Img'>
                    <ul id='main-menu'>
                        <li><a href="{% url 'profile' %}" class="btn btn-sm btn-info" role="button">Profile</a></li>
                        <li>Settings</li>
                        <li><a href="{% url 'logout' %}" class="btn btn-sm btn-info" role="button">Log Out</a></li>
                    </ul>
                    
                {% else %}
                    <form class="form-inline">
                        <a class="btn btn-sm btn-success mr-3" data-toggle="modal" data-target="#signUpModal" role="button">Sign Up</a>
                        <a class="btn btn-sm btn-info" data-toggle="modal" data-target="#loginModal" role="button">Log In</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Flash Message -->
    {% if messages %}
       {% for message in messages %}
          <div id="flash-message" class="row justify-content-end">
             <div class="col-12 text-center">
                 <div class="alert alert-{{message.tags}}">
                         {{ message }}
                 </div>
              </div>
           </div>
        {% endfor %}
    {% endif%}

    <!-- Form Modal for SignUp -->
    {% include 'registration/register.html' with form=register_form%}

    <!-- Form Modal for LogIn -->
    {% include 'registration/login.html'%}

    <!-- Template Inheritance -->
    <div class="container">
        {% block main_content %}
        {% endblock %}
    </div>
        
    <!-- Floating button (+) -->
    <a href="{% url 'set-create' %}" class="float"><i class="fa fa-plus my-float"></i></a>


    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/3d0729d0ea.js" crossorigin="anonymous"></script>
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- MyCustom JS -->
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>