<div class="modal fade" id="authModal" tabindex="-1">
    <div id="loginModal" class="modal-dialog" role="document">
        <!-- Cancel Button -->
        <div class="btn-circle"></div>

        <!-- Login Modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5>Login</h5>
            </div>
            <div class="modal-body">
                <form id="login-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td><label for="id_username">Username</label></td>
                            <td><input id="id_username" name="username" 
                                    type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="id_password">Password</label></td>
                            <td><input id="id_password" name="password" type="password" class="form-control"></td>
                        </tr>
                    </table>
                    
                    <p id="login-error-text" class="danger">
                                Your username and password didn't match. 
                                Please try again.
                    </p>
                    <div>
                        <label for="rememberMe">Remember Me</label>
                        <input type="checkbox" id="rememberMe"/>
                    </div>
                    <div>
                        <a href="#" class="" onclick="redirectToSignUp()">Not a member yet?</a>
                        <a href="#" class="">Forgot your password?</a>
                    </div>
                    <input id="login-button" type="submit" value="Login" class="btn btn-primary pull-right" />
                    <input type="button" value="Close" class="btn btn-primary" data-dismiss="modal"/>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>

        <!-- Sign Up Modal -->
        <div id="signUpModal" class="modal-content">
            <div class="modal-header">
                <h5>Sign Up</h5>
                
            </div>
            <div class="modal-body">
               <form id="register-form" method="post" action="{% url 'register' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  

                  <input id="register-button" type="submit" value="Create Account" class="btn btn-primary pull-right" />
                  <input type="button" value="Close" class="btn btn-primary" data-dismiss="modal"/>
                  <input type="hidden" name="next" value="{{ next }}"/>
               </form>
            </div>   
         </div>

        <!-- Reset Password Modal -->
        <div>
            
        </div>
    </div>
    
</div>




