
<div class="modal fade" id="signUpModal" tabindex="-1">
   <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Sign Up</h5>
                
            </div>
            <div class="modal-body">
               <form id="register-form" method="post" action="{% url 'register' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  

                  <input id="register-button" type="submit" value="Create Account" class="btn btn-primary pull-right" />
                  <input type="button" value="Close" class="btn btn-primary" data-dismiss="modal"/>
                  <input type="hidden" name="next" value="{{ next }}"/>
               </form>
            </div>   
         </div>
   </div>
</div>